
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>完美图床</title>
    <link rel="stylesheet" href="/vendor/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css" type="text/css" />
</head>
<body>
    <form method="post" action="/image/upload">	
        <div id="uploader">
            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
    </form>
    <ul id="upload-list"></ul>
    <input type="button" value="download zip" id="downloadzip">
    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src="/vendor/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/vendor/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/vendor/plupload/js/i18n/zh_CN.js"></script>
    <script>
    $(function() {
	    
        var fileList = []
        
        function onFileUpload(file){    
            var html = '<li>'+file.name
            html += ' - origSize:'+ file.origSize
            html += ' - size:'+ file.size
            html += ' - save:'+ file.save
            html += ' - <a href="'+ file.url +'" target="_blank">download</a>'
            html += '</li>'
            $('#upload-list').append(html)
        }
       
        $("#uploader").pluploadQueue({
            runtimes : 'html5,flash,silverlight,html4',
            url : '/image/upload',
            chunk_size: '1mb',
            dragdrop: true,
            
            filters : {
                max_file_size : '100mb',
                mime_types: [
                    {title : "Image files", extensions : "jpg,gif,png"}
                ]
            },
            resize : {quality : 75},
            flash_swf_url : '/vendor/plupload/js/Moxie.swf',
            silverlight_xap_url : '/vendor/plupload/js/Moxie.xap',
            init: { 
               FileUploaded: function(up,file,response){  
                   console.log(file)
                   var data = $.parseJSON(response.response)
                   file.size = data.output.size
                   file.save = file.origSize - data.output.size
                   file.url = data.output.url
                   fileList.push({  
                        n: file.name,
                        p: file.url                     
                   })
                   onFileUpload(file)
               }     
            }
        });
        
        $('#downloadzip').click(function(){ 
            
            $.ajax({    
                url: '/image/downloadzip',
                data: { 
                    q: JSON.stringify(fileList)                  
                },
                type: 'POST',
                dataType: 'json',
                success: function(data){    
                    if(data.code === 0){
                        window.location.href = data.url             
                    }
                }
            }) 
        })

    });
    </script>
</body>
</html>