
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>完美图床</title>
    <link rel="stylesheet" href="/vendor/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css" type="text/css" />
</head>
<body>
    <form method="post" action="/image/upload">	
        <div id="uploader">
            <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
        </div>
    </form>
    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src="/vendor/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/vendor/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/vendor/plupload/js/i18n/zh_CN.js"></script>
    <script>
    $(function() {
	
        // Setup html5 version
        $("#uploader").pluploadQueue({
            // General settings
            runtimes : 'html5,flash,silverlight,html4',
            url : '/image/upload',
            chunk_size: '1mb',
            dragdrop: true,
            
            filters : {
                // Maximum file size
                max_file_size : '100mb',
                // Specify what files to browse for
                mime_types: [
                    {title : "Image files", extensions : "jpg,gif,png"}
                ]
            },

            // Resize images on clientside if we can
            resize : {quality : 75},

            flash_swf_url : '/vendor/plupload/js/Moxie.swf',
            silverlight_xap_url : '/vendor/plupload/js/Moxie.xap'
        });

    });
    </script>
</body>
</html>